@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

.readings{
width: 110rem;
height: 28rem;
flex-shrink: 0;
border-radius: 10px;
background: #E1E0E1;
box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
position: relative;
top:2.188rem;
left: 0rem;
}

.readings b{
    font-family: Inter;
    position: relative;
    left:20px;
    top: 20px;
    font-size: 30px;
}

.readings img{
    position: relative;
    right:10rem;
    bottom:1rem
}

.last_7{
    width: 52rem;
    height: 22rem;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E1E0E1;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    bottom:21rem;
    left: 58rem;
}

.last_7 b{
    font-family: Inter;
    position: relative;
    left:20px;
    top: 20px;
    font-size: 20px;
}


.last-24{
    width: 55rem;
    height: 22rem;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E1E0E1;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top:2.188rem;
    left: 0rem;
}

.last-24 b{
    font-family: Inter;
    position: relative;
    left:20px;
    top: 20px;
    font-size: 20px;
}

.last-24 #circle1{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    background: rgb(116, 116, 252);
    position: absolute;
    bottom:3.4rem;
    left: 1rem;
}


.last-24 #circle1 b{
    top: 4rem;
    left: 0rem;
    justify-content: center;
    display: flex;
    color: white;
   
}

.last-24 #circle2{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    background: rgb(116, 116, 252);
    position: absolute;
    bottom:3.4rem;
    left: 14rem;
}


.last-24 #circle2 b{
    top: 4rem;
    left: 0rem;
    justify-content: center;
    display: flex;
    color: white;
   
}

.last-24 #circle3{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    background: rgb(116, 116, 252);
    position: absolute;
    bottom:3.4rem;
    left:27rem;
}


.last-24 #circle3 b{
    top: 4rem;
    left: 0rem;
    justify-content: center;
    display: flex;
    color: white;
   
}

.last-24 #circle4{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 200px;
    background: rgb(116, 116, 252);
    position: absolute;
    bottom:3.4rem;
    left:40rem;
}


.last-24 #circle4 b{
    top: 4rem;
    left: 0rem;
    justify-content: center;
    display: flex;
    color: white;
   
}