{% extends 'base.html' %}
{% load static%}
{% block content %}
<body>

    {% for machine_graph in machine_graphs %}
        <h2>{{ machine_graph.machine_name }}</h2>
    
        <!-- Day vs Previous Day -->
        <div>
            <h3>Day vs Previous Day</h3>
            <img src="{{ machine_graph.graph_filename_day }}" alt="Day vs Previous Day Consumption">
        </div>
    
        <!-- Month vs Previous Month -->
        <div>
            <h3>Month vs Previous Month</h3>
            <img src="{{ machine_graph.graph_filename_month }}" alt="Month vs Previous Month Consumption">
        </div>
    
        <!-- Year vs Previous Year -->
        <div>
            <h3>Year vs Previous Year</h3>
            <img src="{{ machine_graph.graph_filename_year }}" alt="Year vs Previous Year Consumption">
        </div>
    
    {% endfor %}
    
    </body>
{% endblock %}
