{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'CSS/Dashboard.css' %}" type="text/css" />
    <div class="container">
      <div class="Daily">
        <Div class="D_Text">DAILY</Div>
        <div class="D_value">{{ total_consumption_day|floatformat:2 }} kWh</div>
      </div>

      <div class="Monthly">
        <Div class="M_Text">MONTHLY</Div>
        <div class="M_value">{{ total_consumption_month|floatformat:2 }} kWh</div>
      </div>

      <div class="Yearly">
        <Div class="Y_Text">YEARLY</Div>
        <div class="Y_value">{{ total_consumption_year|floatformat:2 }} kWh</div>
      </div>

      <div class="Line_chart">
        <div class="Line_text">LINE CONSUMPTION</div>
        <img src="{% static 'Graphs/status_vs_consumption.png' %}" class="graph" alt="Status vs. Sum of Consumption">
      </div>

      <div class="Cost_tile">
        <div class="cost_title">COST</div>
        <div class="Energy_cost">TOTAL ENERGY COST</div>
        <div class="T_energY_cost">{{ total_consumption_year|floatformat:2 }}</div>  <!-- Placeholder for total energy cost -->
        <div class="split_line_1"></div>
        <div class="Average_cost">AVERAGE COST</div>
        <div class="A_energY_cost">{{ average_energy_cost|floatformat:2 }}</div>  <!-- Placeholder for average energy cost -->
        <div class="split_line_2"></div>
        <div class="Predicted_yearly">Predicted Yearly Cost</div>
        <div class="P_energY_cost">{{ predicted_yearly_cost|floatformat:2 }}</div>  <!-- Placeholder for predicted yearly cost -->
      </div>
    </div>
  {% endif %}
{% endblock %}
