{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        
        <link rel="stylesheet" href="{% static 'CSS/machine.css' %}" type="text/css" />
        <body>
            <!-- <h1 id="heading">GRAPHICAL REPRESENTATION</h1> -->
            
            <form method="POST">
                {% csrf_token %}
                <div class="machine-dropdown">
                    <label for="machine" >Select Machine:</label>
                    <select name="machine" id="machine">
                        {% for machine in machines %}
                        <option value="{{ machine }}">{{ machine }}</option>
                        {% endfor %}
                    </select><br><br>
                </div>
                <div class="option-dropdown">
                    <label for="options">Select Comparison:</label>
                    <select name="options" id="options">
                        {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select><br><br>
                </div>  
            
                <button type="submit" id="submit-btn">Submit</button>
            </form>
        
            {% if graph %}
            <div id="graph-bro">
                {{ graph|safe }}
            </div>
            {% endif %}
        </body>
        <script src="{% static 'JavaScript/machine.js' %}"></script>

      
    {% endif %}
{% endblock %}
    
